.generate-maps-button, .change-scenario-button {
  background-color: #851fff;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
}

.generate-maps-button:hover, .change-scenario-button:hover, .selected-scenario {
  background-color: #6a17cc;
}

.generate-maps-button:active, .change-scenario-button:active {
  background-color: #5a14a8;
}

#map-code-editor {
  margin-top: 10px;
}

.pf-warming-scenario-button-wrapper {
  display: flex;
  justify-content: start;
  gap: 10px; 
  margin-top: 10px;
  row-gap: 15px; 
}
